name: Java CI security

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build & Test
        run: mvn -B clean verify

      - name: Run SpotBugs (SAST)
        run: mvn spotbugs:check

      - name: Run OWASP Dependency-Check (SCA)
        run: mvn org.owasp:dependency-check-maven:check

      - name: Upload SpotBugs Report (SAST)
        uses: actions/upload-artifact@v4
        with:
          name: spotbugs-report
          path: target/spotbugs.html

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html
